*{
    box-sizing:border-box;
    font-family:'Outfit';
}
body{
    margin:0;
    display:flex;
    height:100vh;
}
.main-container{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    border:2px solid black;
    border-radius:0.5em;
    text-align:center;
    width:auto;
    .FIRST{
        padding:1em;
        h1,p{
            margin:0;
        }
    }
    .SECOND{
        display:grid;
        grid-template-columns:min-content auto;
        .game-board{
            display:grid;
            justify-content:space-around;
            grid-template-columns:repeat(2, auto);
            grid-template-rows:repeat(2, 1fr);
            gap:2em;
            padding:2em;
            div{
                width:150px;
                height:150px;
                border-radius:1em;
                filter:brightness(50%);
                transition:0.2s;
            }
            div:hover{
                filter:brightness(70%);
            }
        }
        .stats{
            display:flex;
            padding:1em;
            flex-flow:column;
            width:auto;
            gap:1em;
            label{
                margin-left:auto;
                margin-right:auto;
                font-size:large;
                display:grid;
                gap:0.3em;
                width:60px;
                input{
                    appearance:none;
                    border:none;
                    padding:0.3em;
                    border-radius: 0.3em;
                    width:100%;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
            label:last-child{
                margin-top:auto;
            }
        }
    }
    .THIRD{
        padding:1em;
        display:flex;
        justify-content:space-evenly;
        div{
            display:grid;
        }
        select,button{
            font-size:large;
            padding:0.3em;
            border-radius:1em;
            margin:0.5em;
            transition:0.2s;
        }
        button{
            padding-left:3em;
            padding-right:3em;
            transition:0.2s;
        }
    }
}

/*THEMES*/
.default{
    background:linear-gradient(45deg,#5a8bc4,#c7fbff);
    .main-container{
        background:linear-gradient(#ffffff6e,#ffffff18 10%);
        box-shadow: 0px 0px 10px #27265a93;
    }
    .SECOND{
        div{
            box-shadow: 0px 0px 10px #27265a;
        }
        #btn01{
            background-color:#ff0000;
        }
        #btn02{
            background-color:#00ff00;
        }
        #btn03{
            background-color:#ffd700;
        }
        #btn04{
            background-color:#0000ff;
        }
        input{
            box-shadow: 0px 0px 10px #331c522f;
        }
    }
    .THIRD{
        button,select{
            background:linear-gradient(#ffffff75,transparent 70%,#66666617 90%);
            border:5px solid #4bb7ff;
            box-shadow: 0px 0px 10px #27265a5d;
        }
        button:hover,select:hover{
            border-color:#5f97eb;
        }
    }
}