*{
    box-sizing:border-box;
    font-family:'Outfit';
}
body{
    margin:0;
    display:flex;
    height:100vh;
}
.main-container{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    border:4px solid black;
    border-radius:0.5em;
    text-align:center;
    width:auto;
    .FIRST{
        padding:1em;
        h1,p{
            margin:0;
        }
    }
    .SECOND{
        display:grid;
        grid-template-columns:min-content auto;
        .game-board{
            display:grid;
            justify-content:space-around;
            grid-template-columns:repeat(2, auto);
            grid-template-rows:repeat(2, 1fr);
            gap:2em;
            padding:2em;
            div{
                width:150px;
                height:150px;
                border-radius:1em;
                filter:brightness(50%);
                transition:0.2s;
            }
            div:hover{
                filter:brightness(70%);
            }
        }
        .stats{
            display:flex;
            padding:1em;
            flex-flow:column;
            width:auto;
            gap:1em;
            label{
                margin-left:auto;
                margin-right:auto;
                font-size:large;
                display:grid;
                gap:0.3em;
                width:60px;
                input{
                    appearance:none;
                    border:none;
                    padding:0.3em;
                    border-radius: 0.3em;
                    width:100%;
                    margin-left:auto;
                    margin-right:auto;
                    text-align: center;
                }
            }
            label:last-child{
                margin-top:auto;
            }
        }
    }
    .THIRD{
        padding:1em;
        display:flex;
        justify-content:space-evenly;
        div{
            display:grid;
        }
        select,button{
            font-size:large;
            padding:0.3em;
            border-radius:1em;
            margin:0.5em;
            transition:0.2s;
        }
        button{
            padding-left:3em;
            padding-right:3em;
            transition:0.2s;
        }
    }
}

/*THEMES*/
.light{
    background:#ffffff;
    .main-container{
        background:linear-gradient(#ffffff 90%,#dee1e9);
        box-shadow: 0px 0px 10px #27265a93;
    }
    .SECOND{
        div{
            box-shadow: 0px 0px 10px #060533;
        }
        #btn01{
            background-color:#ff0000;
        }
        #btn02{
            background-color:#00ff00;
        }
        #btn03{
            background-color:#ffd700;
        }
        #btn04{
            background-color:#0000ff;
        }
        input{
            background:#ffffff;
            box-shadow: 0px 0px 10px #331c522f;
        }
    }
    .THIRD{
        button,select{
            background:linear-gradient(#ffffff 70%,#d9dde7);
            border:5px solid #727272;
            box-shadow: 0px 0px 10px #27265a5d;
        }
        button:hover,select:hover{
            border-color:#3f3f3f;
        }
    }
}
.dark{
    background:#030020;
    color:#8e77d8;
    .main-container{
        border-color:#6c6794;
        background:linear-gradient(#030020 90%,#221444);
        box-shadow: 0px 0px 10px #a191d8;
    }
    .SECOND{
        div{
            box-shadow: 0px 0px 20px #a191d8;
        }
        #btn01{
            background-color:#ff0000;
        }
        #btn02{
            background-color:#00ff00;
        }
        #btn03{
            background-color:#ffd700;
        }
        #btn04{
            background-color:#0000ff;
        }
        input{
            color:#8e77d8;
            background:#594f6b3a;
            box-shadow: 0px 0px 10px #6c6794;
        }
    }
    .THIRD{
        button,select{
            color:#8e77d8;
            background:linear-gradient(#030020 70%,#351444);
            border:5px solid #6c6794;
            box-shadow: 0px 0px 10px #27265a5d;
            option{
                background:#030020;
            }
        }
        button:hover,select:hover{
            border-color:#4a3d64;
        }
    }
}
.contrast{
    background:#000000;
    color:#ffffff;
    .main-container{
        border-color:#ffffff;
        background:#000000;
    }
    .SECOND{
        div{
            border:5px solid;
        }
        #btn01{
            border-color:#ff0000;
        }
        #btn02{
            border-color:#00ff00;
        }
        #btn03{
            border-color:#ffff00;
        }
        #btn04{
            border-color:#0000ff;
        }
        input{
            color:#ffffff;
            background:none;
        }
    }
    .THIRD{
        button,select{
            color:#ffffff;
            background:#000000;
            border:5px solid #ffffff;;
            option{
                background:#000000;
            }
        }
    }
}
.clear-sky{
    background:linear-gradient(45deg,#5a8bc4,#c7fbff);
    color:#2e64a1;
    .main-container{
        background:linear-gradient(#ffffff6e,#ffffff18 10%);
        box-shadow: 0px 0px 10px #27265a93;
        border-color:#4bb7ff;
    }
    .SECOND{
        div{
            box-shadow: 0px 0px 10px #27265a;
        }
        #btn01{
            background-color:#ff3300;
        }
        #btn02{
            background-color:#00ff6a;
        }
        #btn03{
            background-color:#d0ff00;
        }
        #btn04{
            background-color:#5900ff;
        }
        input{
            background:#ffffff;
            box-shadow: 0px 0px 10px #331c522f;
            color:#2e64a1;
        }
    }
    .THIRD{
        button,select{
            background:linear-gradient(#ffffff75,transparent 70%,#66666617 90%);
            border:5px solid #4bb7ff;
            box-shadow: 0px 0px 10px #27265a5d;
            color:#2e64a1;
            option{
                background:#4bb7ff;
            }
        }
        button:hover,select:hover{
            border-color:#5f97eb;
        }
    }
}
.warm-dawn{
    background:linear-gradient(45deg,#ac2727,#f1ef79);
    color:#a34f17;
    .main-container{
        background:linear-gradient(#ffecc875,#ffffff18 10%);
        box-shadow: 0px 0px 10px #27265a93;
        border-color:#f18766;
    }
    .SECOND{
        div{
            box-shadow: 0px 0px 10px #17002c;
        }
        #btn01{
            background-color:#c8ff00;
        }
        #btn02{
            background-color:#00ffff;
        }
        #btn03{
            background-color:#ff7b00;
        }
        #btn04{
            background-color:#ff0080;
        }
        input{
            background:#ffffff;
            box-shadow: 0px 0px 10px #331c522f;
            color:#a34f17;
        }
    }
    .THIRD{
        button,select{
            background:linear-gradient(#ffecc875,transparent 70%,#66666617 90%);
            border:5px solid #f18766;
            box-shadow: 0px 0px 10px #27265a5d;
            color:#a34f17;
            option{
                background:#f18766;
            }
        }
        button:hover,select:hover{
            border-color:#dd722a;
        }
    }
}